.gallery
  margin-bottom: 40px

.gallery__title
  color: #373f41
  font-size: 32px
  font-weight: 100
  line-height: 28px
  margin-bottom: 8px
  margin-top: 40px
  text-transform: uppercase
  font-family: $font-family-sans-serif-light
  @media (max-width: $screen-xs-min)
    font-size: 24px

.gallery__item
  margin: 0 0 20px 0
  transition: opacity .2s
  &:hover
    opacity: 0.85

.gallery__item__link
  display: block
