.main_header
  background: #fdfdfd none repeat scroll 0 0
  padding-top: 10px
  position: fixed
  height: 80px
  width: 100%
  z-index: 500
  @media (max-width: $screen-sm)
    height: 70px

.main_header-fixed
  position: relative
  top: 0
  left: 0

.main_header__logo
  display: inline-block
  vertical-align: top
  width: 120px
  height: 46px
  float: left
  text-indent: -9999999px
  background: asset-data-url('logo.png') 0 0 / cover no-repeat
  @media (max-width: 992px)
    margin-left: 10px

.nav-main
  float: right
  margin: 20px 0 0 0
  padding: 0 0 10px 0
  opacity: 0.9
  @media (max-width: $screen-sm)
    display: none
    background: #fff
  li
    display: inline-block
    margin: 0
    vertical-align: top
    @media (max-width: $screen-sm)
      display: block
      width: 100%
    &.active
      a
        color: #b8bfbf
    a
      padding: 22px 10px 5px
      color: #717c7e
      font-size: 14px
      text-transform: uppercase
      @media (max-width: $screen-sm)
        display: block
        padding: 15px 0 15px 25px
      &:hover, &:active, &:focus
        text-decoration: none
      &:focus
        outline: none
      &:hover
        color: #b8bfbf

.nav-main-opened
  position: absolute
  left: 0
  top: 40px
  right: 0
  display: block
  @media (min-width: $screen-sm)
    position: static

.nav-main__btn
  display: none
  float: right
  margin: 5px 0 0 0
  color: #717c7e
  font-size: 30px
  &:active,&:hover, &:focus
    color: #717c7e
  @media (max-width: $screen-sm)
    display: block

